<html>

<body>
    <div>
        <form action="/logout" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <div>
       Design
    </div>
<div> coming soon...</div>
</body>
</html>