<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring Security Example </title>
</head>
<body>
Add new user
{{#message}}
    {{message}}
{{/message}}
<form action="/registration" method="post">
    <div><label> Login : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><label> Name : <input type="text" name="name"/> </label></div>
    <div><label> Surname : <input type="text" name="usersurname"/> </label></div>
    <div><label> Country : <input type="text" name="usercountry"/> </label></div>
    <div><label> Age : <input type="text" name="userage"/> </label></div>
    <div><label> Email : <input type="email" name="useremail"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>

</body>
</html>
