<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sweater</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<form method="post" action="/create">
    <input type="number" min="0" name="id" placeholder="id">
    <input type="text" name="nameoft" placeholder="Tournament name">
    <input type="text" name="amountofp" placeholder="Amount of players">
    <input type="text" name="country" placeholder="country">
    <button type="submit"> Submit </button>
</form>

</body>
</html>